<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <packageSources>
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
    <add key="VSTSFeed" value="https://pkgs.dev.azure.com/stn-ng/_packaging/stn-ng-lib/nuget/v3/index.json" />
  </packageSources>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <packageSourceCredentials>
    <VSTSFeed>
      <add key="Username" value="lp@safetonet.io" />
      <add key="ClearTextPassword" value="vwpdamwhaxtn7j4pnuydruujtxaxwjw27psipuo4cyqpctex3nhq" />
    </VSTSFeed>
  </packageSourceCredentials>
</configuration>